<div class="text-center">
    <div class="form-floating py-2">
        <input id="inputText" class="form-control border-0 shadow"/>
        <label class="ms-2">Enter a text to store in Revit ES</label>
    </div>
    <button onclick="sendText()" class="btn btn-primary form-control">Update values in Revit</button>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}