<div class="text-center">
    <table id="tableData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Revit Name
            </th>
            <th>
                Last updated
            </th>
            <th>
                Saved value
            </th>
        </tr>
        </thead>
    </table>
    <button  onclick="getText()" class="btn btn-primary form-control m-2">Read data of selected elements</button>
</div>

@section Scripts {
    <script src="~/js/readData.js"></script>
}